.anceta-card-wrapper {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 800px;
    margin: 100px auto;
}

.anceta-form div{
    margin: 10px auto;
}
.anceta-form label {
    font-size: 0.9rem;
    font-weight: lighter;
    color: #222020;
    display: block;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 1rem;
    gap: 10px;
    margin-right: 10px;
}
.anceta-form input {
    width: 100%;
    padding: 0.5rem;
    background: #efefef;
    border: none;
    border-radius: 13px;
}

.anceta-form textarea {
    width: 100%;
    padding: 0.5rem;
    color: #fff;
}
.anceta-form button {
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #b87a08 0%, #7739b6 100%);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}
.anceta-form button:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1);
}
.anceta-form button:disabled {
    background: #f7fafc;
    color: #718096;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
}

.save-button-interests{
    width: 25% !important;
    background: #7d7d7d !important;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px !important;
}
.anceta-form h2{
    color: #222020;
    text-align: center;
    font-weight: 500;
}
.anceta-form h3{
    margin-top: 2rem;
    color: #222020;
    font-weight: 300;
}


.selector{
    margin-right: 1rem;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 13px;
    border: none;
}

.anceta-form select{
    max-width: 500px;
    padding: 0.5rem;
    background: #efefef;
    margin-right: 1rem;
    text-align: center;
    border-radius: 13px;
    border: none;
}
label input[type="checkbox"] {
    display: block;
    justify-content: end;
}
