.navbar {
    background-color: #007bff;
    color: white;
    padding: 10px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .nav-link.register:hover {
    background-color: rgba(227, 191, 72, 0.1);
  }
  